<div class="hero">
  <br />
  <br />
  <br />
  <div class="frosty col-8 offset-2 text-center">
     <div class="row landing-buttons">
        <%= link_to 'QuickJoin', new_game_path, class: 'btn btn-warning' %>
        <br />
        <%= link_to 'Create A New Game', new_game_path, class: 'btn btn-warning' %>
        <br />
        <%= link_to 'Join A Game', new_game_path, class: 'btn btn-warning' %>
        <br />
    </div>
  </div>
</div>

<!-- join_game_path(@game[:id]) for when we have games to link to -->