html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: image_url('browncheck.jpg');
  color: #fff7e6;
  font-family: "Helvetica Neue", Helvetica;
  padding: 20px 0px;
}

#footer a {
  color: #fff7e6;
  font-weight: 100;
}
