html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: image_url('gun_metal.png');
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px 0px;
}

#footer:hover {
  color: lightgray;
}

#footer a {
  color: white;
  font-weight: 100;
}

#footer a:hover {
  color: lightgray;
  text-decoration: none;
}
