/*// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */


.black {
  background: black
}

.board {
  margin: 20px 50px; /* if just board w/o chat boxes, use margin:20px auto; */
  border-collapse: collapse;
  border: 15px solid #595959;
}

.captured-pieces {
  height: 600px;
}

.chatbox {
  height: 325px;
}

.column {
  margin-left: auto;
  margin-right: auto;
}

.move-history {
  height: 325px;
}

td {
  width: 80px;
  height: 80px;
}

.white {
  background: white
}

