@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px;
}

.btn-warning {
  color: white;
  background-color: #fff7e6;
  border-color: #663300;
  border-radius: 0.1rem;
  text-shadow: rgba(0, 0, 0, 0.10) 1px 1px;
  margin: 30px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0px 1px 3px #2a2a2a;
}

/* .btn-warning.raised {
  box-shadow: 0 3px 0 0 #fff7e6;
}


.btn-warning.raised:active, .btn-warning.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
} */

/*Rotate div 
    -ms-transform: rotate(-22deg);  IE 9 
    -webkit-transform: rotate(-22deg);  Chrome, Safari, Opera 
    transform: rotate(-22deg); 
  } */
  

.frosty {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 0.1rem;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-top: 70px;
  padding: 30px;
}

/* .frosty h1 {
  font-family: 'orbitronlight';
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  color: #00ccff;
  padding: 10px;
}

.frosty h2 {
  font-family: 'open_sanslight_italic';
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  font-size: 35px;
  color: #e6e6e6;
  padding-bottom: 10px;
} */

.help-block {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
}

.hero {
  background: image_url('chesssolar.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

.landing-buttons {
  margin: auto;
}

.navbar {
  font-family: 'open_sanslight';
  font-size: 20px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('gun_metal.png');
}

.navbar-light .navbar-nav .nav-link {
  color: #fff7e6;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  font-family: 'didonesque-roman';
  font-size: 75px;
  color: #fff7e6;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
}



#user-font{
  font-weight: 600;
  border-bottom: 3px solid black; 
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 20px;
}

#user_remember_me.boolean.optional {
  margin-right: 10px;
}
 