div#game {
    position:relative;
}


div#board {

    float:left;
    position:relative;


    height:382px;
    width:382px;

    border-style:solid;
    border-width:9px;
    border-color: black;
    margin-bottom: 20px
}

.white {
    background-color:#ccc;
    width:46px;
    height:46px;
    border-width:2px;
}

.black {
    background-color:#333;
    width:46px;
    height:46px;
    border-width:2px;
}

div#pieces {
    position:absolute;
    /* 9 px puts us inside of the board's borders;*/
    left:9px;
    top:9px;
}

div.piece {
    position:absolute;
    width:32px;
    height:32px;
}



div#meta {
    float:right;
}

div.piece.light.pawn {
  content: url(https://openclipart.org/download/24131/Anonymous-Chess-symbols-set-6.svg)
}
div.piece.light.rook {
  content: url(https://openclipart.org/download/24128/Anonymous-Chess-symbols-set-3.svg)
}
div.piece.light.horse {
  content: url(https://openclipart.org/download/24130/Anonymous-Chess-symbols-set-5.svg)
}
div.piece.light.queen {
  content: url(https://openclipart.org/download/24127/Anonymous-Chess-symbols-set-2.svg)
}
div.piece.light.king {
  content: url(https://openclipart.org/download/24126/Anonymous-Chess-symbols-set-1.svg)
}
div.piece.light.bishop {
  content: url(https://openclipart.org/download/24129/Anonymous-Chess-symbols-set-4.svg)
}
div.piece.dark.pawn {
  content: url(https://openclipart.org/download/24137/Anonymous-Chess-symbols-set-12.svg)
}
div.piece.dark.rook {
  content: url(https://openclipart.org/download/24134/Anonymous-Chess-symbols-set-9.svg)
}
div.piece.dark.horse {
  content: url(https://openclipart.org/download/24136/Anonymous-Chess-symbols-set-11.svg)
}
div.piece.dark.queen{
  content: url(https://openclipart.org/download/24133/Anonymous-Chess-symbols-set-8.svg)
}
div.piece.dark.king {
  content: url(https://openclipart.org/download/24132/Anonymous-Chess-symbols-set-7.svg)
}
div.piece.dark.bishop {
  content: url(https://openclipart.org/download/24135/Anonymous-Chess-symbols-set-10.svg)
}
